$primary: #542537;
$secondary: #6F734E;
$tertiary: #dac9cf;

:host {
  .navbar {
    background: $tertiary;
    display: flex;
    justify-content: space-between;
    padding: 0 0.5rem;
    height: 50px;
  }
}

.title {
  color: $primary;
  border-bottom: 1px solid $tertiary;
  margin: 0;
  padding: 0.5rem;
  border-bottom-right-radius: 50%;
  font-size: x-large;
}

button {
  background-color: lighten($secondary, 25%);
  font-size: medium;
}